h1{
    background-color: burlywood;
    color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.5em;
}
h2{
    background-color: #695F5F;
    border-radius: 10px;
    padding: 1em;
}
#special{
    background-color: #1a4f46;
    color: white;
}
.city{
    background-color: #b13bb3;
}