*{

}
h1{
    background-color: burlywood;
    color: cadetblue;
    font-family: 'Oswald', sans-serif;
    padding: 1.5em;
    margin:0;
}
h2{
    background-color: #695F5F;
    border-radius: 10px;
    padding: 1em;
}
#special{
    background-color: #1a4f46;
    color: white;
}
.city{
    background-color: #b13bb3;
}
h5,h6{
    background-color: #09f;
}
/*Cualquier descendiente, cualquier li dentro de ol*/
ol li {
    background-color: pink;
}
/*Primer descendiente empezando desde fuera*/
p>em{
    background-color: maroon;
}
/*Primer descendiente empezando desde dentro*/
:first-child{

}
:only-child{
    
}
/*Página no visitada, visitada, pinchar el enlace y sobre el enlace*/
a:link{
    color:red;
}
a:visited{
    color:magenta;
}
a:active{
    color:blue;
}
a:hover{
    color:green;
}
